<!DOCTYPE html>
<html>
<head>
    <title>Editar Superhéroe</title>
</head>
<body>
    <h1>Editar Superhéroe</h1>
    
    <form action="/api/heroes/editar/<%= heroe._id %>" method="POST">
        <label>Nombre del héroe:</label>
        <input type="text" name="nombreSuperHeroe" value="<%= heroe.nombreSuperHeroe %>" required>
        <br><br>
        
        <label>Nombre real:</label>
        <input type="text" name="nombreReal" value="<%= heroe.nombreReal %>" required>
        <br><br>
        
        <label>Edad:</label>
        <input type="number" name="edad" value="<%= heroe.edad %>" required>
        <br><br>
        
        <label>Poderes (separados por coma):</label>
        <input type="text" name="poderes" value="<%= heroe.poderes ? heroe.poderes.join(', ') : '' %>" required>
        <br><br>
        
        <button type="submit">Actualizar</button>
        <a href="/api/heroes/dashboard">Cancelar</a>
    </form>
</body>
</html>